---
import { Image } from "astro:assets";
import Img1 from "@/assets/images/01-carousel.webp";
import Img2 from "@/assets/images/02-carousel.webp";
import Img3 from "@/assets/images/03-carousel.webp";
import Img4 from "@/assets/images/04-carousel.webp";
import Img5 from "@/assets/images/05-carousel.webp";
---

<section
  id="objectives"
  class="relative p-20 bg-gradient-to-t from-transparent from-0% to-primary to-[150%]"
>
  <div class="swiper w-4/6 rounded-md select-none">
    <div class="swiper-wrapper">
      <Image src={Img1} alt="01-carousel" class="swiper-slide" />
      <Image src={Img2} alt="02-carousel" class="swiper-slide" />
      <Image src={Img3} alt="03-carousel" class="swiper-slide" />
      <Image src={Img4} alt="04-carousel" class="swiper-slide" />
      <Image src={Img5} alt="05-carousel" class="swiper-slide" />
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div
    class="w-[500px] h-[500px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-secondary rounded-full -z-10 blur-3xl"
  >
  </div>
</section>
<script src="../utils/swiper.js"></script>

<style is:global>
  .swiper-button-prev,
  .swiper-button-next {
    color: #8d0dd4 !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #8d0dd4 !important;
  }
</style>
